@using ExpenseTracker.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ExpensesController> Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model ExpenseTracker.Models.Expense

@{
    ViewData["Title"] = "Create";
}

<h1>@Localizer["AddExpense"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Amount"]</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Date"]</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Category"]</label>
                <select asp-for="CategoryId" class="form-control"
                    asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                    <option value="">@SharedLocalizer["SelectCategory"]</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Add"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
