@using ExpenseTracker.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ExpensesController> Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model ExpenseTracker.Models.Expense

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["ExpenseDetails"]</h1>

<div>
    <h4>@Localizer["Expense"]</h4>
    <hr />
    <dl class="row">
    <dt class="col-sm-2">
        @SharedLocalizer["Amount"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Amount)
    </dd>
    <dt class="col-sm-2">
        @SharedLocalizer["Date"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class="col-sm-2">
        @SharedLocalizer["Description"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @SharedLocalizer["Category"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Category.Name)
    </dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@SharedLocalizer["Edit"]</a> |
    <a asp-action="Index">@SharedLocalizer["Back"]</a>
</div>
