@using ExpenseTracker.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ExpensesController> Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model ExpenseTracker.Models.Expense

@{
    ViewData["Title"] = "Edit";
}

<h1>@SharedLocalizer["Edit"]</h1>

<h4>@Localizer["Expense"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label  class="control-label">@SharedLocalizer["Amount"]</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@SharedLocalizer["Date"]</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@SharedLocalizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@SharedLocalizer["Category"]</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
