@using ExpenseTracker.Controllers
@using Microsoft.Extensions.Localization
@model IEnumerable<ExpenseTracker.Models.Expense>
@inject IStringLocalizer<ExpensesController> Localizer
@{
    ViewData["Title"] = "Index";
}

<h1> @Localizer["ExpensesList"]</h1>

<p>
    <a asp-action="Create">@Localizer["AddExpense"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Amount"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th>
                @Localizer["Category"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Id)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["EditExpense"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["ExpenseDetails"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["DeleteExpense"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
