@using ExpenseTracker.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CategoriesController> Localizer

@inject IStringLocalizer<SharedResource> SharedLocalizer
@model IEnumerable<ExpenseTracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>@SharedLocalizer["Category"]</h1>

<p>
    <a asp-action="Create">@Localizer["AddCategory"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
