@page
@using ExpenseTracker
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">@SharedLocalizer["CreateANewAccount"]</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">@SharedLocalizer["Email"]</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@SharedLocalizer["Password"]" />
                    <label asp-for="Input.Password">@SharedLocalizer["Password"]</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@SharedLocalizer["Password"]" />
                    <label asp-for="Input.ConfirmPassword">@SharedLocalizer["ConfirmPassword"]</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["Register"]</button>
            </form>
        </div>
    </div>
</div>

    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
